<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments :: head('Organizations', 'none')}"></head>
<body>
<div th:replace="~{commons/fragments :: page_loader}"></div>
<div th:replace="~{commons/fragments :: top_header}"></div>
<div th:replace="~{commons/fragments :: sticky_header}"></div>
<div th:replace="~{commons/fragments :: mobile_menu}"></div>
<div th:replace="~{commons/fragments :: breadcrum('Organizations', 'none')}"></div>

<!--==================================================-->
<!-- Start charina donate section  -->
<!--==================================================-->
<div class="donate-section page-two">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="charina-donate-single-box">
					<!-- donate thumb -->
					<div class="donate-thumb">
						<img src="assets/images/resource/donate1.jpg" alt="">
						<!-- thumb text -->
						<div class="thumb-category">
							<span>Foods</span>
						</div>
					</div>
					<!-- donate content -->
					<div class="charina-donate-content">
						<div class="donate-title">
							<h3><a href="donations-details.html">Raise fund for clean & healthy foods</a></h3>
						</div>
						<!-- donate text -->
						<div class="donate-text">
							<p> <i class="bi bi-alarm-fill"></i> 150 Days Remaining</p>
						</div>
						<!-- progress ber -->
						<div class="progress-ber-plugin">
							<div id="bar1" class="barfiller">
								<div class="tipWrap">
									<span class="tip"></span>
								</div>
								<span class="fill" data-percentage="60.1"></span> 
							</div> 
							<div class="progress-text">
								<p>Achived : <span>$50,000</span> </p>
								<p class="progress-text"> Goal : <span>$50,000</span></p>
							</div> 
						</div>
						<!-- progress ber end -->
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="charina-donate-single-box upper">
					<!-- donate thumb -->
					<div class="donate-thumb">
						<img src="assets/images/resource/donate2.png" alt="">
						<!-- thumb text -->
						<div class="thumb-category">
							<span>Education</span>
						</div>
					</div>
					<!-- donate content -->
					<div class="charina-donate-content">
						<div class="donate-title">
							<h3><a href="donations-details.html">Give a good education orphan childreen</a></h3>
						</div>
						<!-- donate text -->
						<div class="donate-text">
							<p> <i class="bi bi-alarm-fill"></i> 150 Days Remaining</p>
						</div>
						<!-- progress ber -->
						<div class="progress-ber-plugin">
							<div id="bar2" class="barfiller">
								<div class="tipWrap">
									<span class="tip"></span>
								</div>
								<span class="fill up" data-percentage="65.1"></span> 
							</div> 
							<div class="progress-text">
								<p>Achived : <span>$85,000</span> </p>
								<p class="progress-text"> Goal : <span>$65,000</span></p>
							</div> 
						</div>
						<!-- progress ber end -->
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="charina-donate-single-box upper2">
					<!-- donate thumb -->
					<div class="donate-thumb">
						<img src="assets/images/resource/donate3.png" alt="">
						<!-- thumb text -->
						<div class="thumb-category">
							<span>Foods</span>
						</div>
					</div>
					<!-- donate content -->
					<div class="charina-donate-content">
						<div class="donate-title">
							<h3><a href="donations-details.html">Build home for African poor womens</a></h3>
						</div>
						<!-- donate text -->
						<div class="donate-text">
							<p> <i class="bi bi-alarm-fill"></i> 150 Days Remaining</p>
						</div>
						<!-- progress ber -->
						<div class="progress-ber-plugin">
							<div id="bar3" class="barfiller">
								<div class="tipWrap">
									<span class="tip"></span>
								</div>
								<span class="fill up2" data-percentage="70.1"></span> 
							</div> 
							<div class="progress-text">
								<p>Achived : <span>$50,000</span> </p>
								<p class="progress-text"> Goal : <span>$50,000</span></p>
							</div> 
						</div>
						<!-- progress ber end -->
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="charina-donate-single-box">
					<!-- donate thumb -->
					<div class="donate-thumb">
						<img src="assets/images/resource/donate4.png" alt="">
						<!-- thumb text -->
						<div class="thumb-category">
							<span>Foods</span>
						</div>
					</div>
					<!-- donate content -->
					<div class="charina-donate-content">
						<div class="donate-title">
							<h3><a href="donations-details.html">Raise fund for clean & healthy foods</a></h3>
						</div>
						<!-- donate text -->
						<div class="donate-text">
							<p> <i class="bi bi-alarm-fill"></i> 150 Days Remaining</p>
						</div>
						<!-- progress ber -->
						<div class="progress-ber-plugin">
							<div id="bar11" class="barfiller">
								<div class="tipWrap">
									<span class="tip"></span>
								</div>
								<span class="fill" data-percentage="60.1"></span> 
							</div> 
							<div class="progress-text">
								<p>Achived : <span>$50,000</span> </p>
								<p class="progress-text"> Goal : <span>$50,000</span></p>
							</div> 
						</div>
						<!-- progress ber end -->
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="charina-donate-single-box upper">
					<!-- donate thumb -->
					<div class="donate-thumb">
						<img src="assets/images/resource/donate5.png" alt="">
						<!-- thumb text -->
						<div class="thumb-category">
							<span>Education</span>
						</div>
					</div>
					<!-- donate content -->
					<div class="charina-donate-content">
						<div class="donate-title">
							<h3><a href="donations-details.html">Give a good education orphan childreen</a></h3>
						</div>
						<!-- donate text -->
						<div class="donate-text">
							<p> <i class="bi bi-alarm-fill"></i> 150 Days Remaining</p>
						</div>
						<!-- progress ber -->
						<div class="progress-ber-plugin">
							<div id="bar8" class="barfiller">
								<div class="tipWrap">
									<span class="tip"></span>
								</div>
								<span class="fill up" data-percentage="65.1"></span> 
							</div> 
							<div class="progress-text">
								<p>Achived : <span>$85,000</span> </p>
								<p class="progress-text"> Goal : <span>$65,000</span></p>
							</div> 
						</div>
						<!-- progress ber end -->
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="charina-donate-single-box upper2">
					<!-- donate thumb -->
					<div class="donate-thumb">
						<img src="assets/images/resource/donate6.png" alt="">
						<!-- thumb text -->
						<div class="thumb-category">
							<span>Foods</span>
						</div>
					</div>
					<!-- donate content -->
					<div class="charina-donate-content">
						<div class="donate-title">
							<h3><a href="donations-details.html">Build home for African poor womens</a></h3>
						</div>
						<!-- donate text -->
						<div class="donate-text">
							<p> <i class="bi bi-alarm-fill"></i> 150 Days Remaining</p>
						</div>
						<!-- progress ber -->
						<div class="progress-ber-plugin">
							<div id="bar6" class="barfiller">
								<div class="tipWrap">
									<span class="tip"></span>
								</div>
								<span class="fill up2" data-percentage="70.1"></span> 
							</div> 
							<div class="progress-text">
								<p>Achived : <span>$50,000</span> </p>
								<p class="progress-text"> Goal : <span>$50,000</span></p>
							</div> 
						</div>
						<!-- progress ber end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div th:insert="~{commons/fragments :: footer}"></div>
<div th:insert="~{commons/fragments :: scripts}"></div>
</body>
</html>