<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments :: head('Events', 'none')}"></head>
<body>
<div th:replace="~{commons/fragments :: page_loader}"></div>
<div th:replace="~{commons/fragments :: top_header}"></div>
<div th:replace="~{commons/fragments :: sticky_header}"></div>
<div th:replace="~{commons/fragments :: mobile_menu}"></div>
<div th:replace="~{commons/fragments :: breadcrum('Events', 'none')}"></div>

<!--==================================================-->
<!-- Start charina donate section  -->
<!--==================================================-->
<div class="events-section style-three">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="events-single-box">
					<!-- events thumb -->
					<div class="events-thumb">
						<img src="assets/images/resource/events-1.jpg" alt="">
						<!-- thumb button -->
						<div class="thumb-button">
							<span>10 Dec</span>
						</div>
					</div>
					<!-- events content -->
					<div class="events-content">
						<!-- event title -->
						<div class="event-title">
							<h3><a href="event-details.html">Learn Exactly how we Arrange a Event</a></h3>
						</div>
						<!-- event desc -->
						<div class="event-discription">
							<p>Completely create leveraged best practices and B2B interfaces events productivate cutting-edge solutions with go forward supply chains has supply.</p>
						</div>
						<!-- event text -->
						<div class="event-text">
							<p> <i class="bi bi-clock"></i> December 10 @ 12.00 PM </p>
							<p> <i class="bi bi-geo-alt-fill"></i> 102/B New Road, Sandigo, USA </p>
						</div>
					</div>
					<!-- event date -->
					<div class="event-date">
						<span>Join Events</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="events-single-box">
					<!-- events thumb -->
					<div class="events-thumb">
						<img src="assets/images/resource/events-2.jpg" alt="">
						<!-- thumb button -->
						<div class="thumb-button">
							<span>10 Dec</span>
						</div>
					</div>
					<!-- events content -->
					<div class="events-content">
						<!-- event title -->
						<div class="event-title">
							<h3><a href="event-details.html">Medical Campaigns for Childreens</a> </h3>
						</div>
						<!-- event desc -->
						<div class="event-discription">
							<p>Completely create leveraged best practices and B2B interfaces events productivate cutting-edge solutions with go forward supply chains has supply.</p>
						</div>
						<!-- event text -->
						<div class="event-text">
							<p> <i class="bi bi-clock"></i> December 10 @ 12.00 PM </p>
							<p> <i class="bi bi-geo-alt-fill"></i> 102/B New Road, Sandigo, USA </p>
						</div>
					</div>
					<!-- event date -->
					<div class="event-date">
						<span>Join Events</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="events-single-box">
					<!-- events thumb -->
					<div class="events-thumb">
						<img src="assets/images/resource/events-3.jpg" alt="">
						<!-- thumb button -->
						<div class="thumb-button">
							<span>10 Dec</span>
						</div>
					</div>
					<!-- events content -->
					<div class="events-content">
						<!-- event title -->
						<div class="event-title">
							<h3> <a href="event-details.html">100+ Orphan Childreen’s Bootcampaigns</a> </h3>
						</div>
						<!-- event desc -->
						<div class="event-discription">
							<p>Completely create leveraged best practices and B2B interfaces events productivate cutting-edge solutions with go forward supply chains has supply.</p>
						</div>
						<!-- event text -->
						<div class="event-text">
							<p> <i class="bi bi-clock"></i> December 10 @ 12.00 PM </p>
							<p> <i class="bi bi-geo-alt-fill"></i> 102/B New Road, Sandigo, USA </p>
						</div>
					</div>
					<!-- event date -->
					<div class="event-date">
						<span>Join Events</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="events-single-box">
					<!-- events thumb -->
					<div class="events-thumb">
						<img src="assets/images/resource/events-4.jpg" alt="">
						<!-- thumb button -->
						<div class="thumb-button">
							<span>10 Dec</span>
						</div>
					</div>
					<!-- events content -->
					<div class="events-content">
						<!-- event title -->
						<div class="event-title">
							<h3> <a href="event-details.html">Organic Foods Supply for Orphan Kids</a> </h3>
						</div>
						<!-- event desc -->
						<div class="event-discription">
							<p>Completely create leveraged best practices and B2B interfaces events productivate cutting-edge solutions with go forward supply chains has supply.</p>
						</div>
						<!-- event text -->
						<div class="event-text">
							<p> <i class="bi bi-clock"></i> December 10 @ 12.00 PM </p>
							<p> <i class="bi bi-geo-alt-fill"></i> 102/B New Road, Sandigo, USA </p>
						</div>
					</div>
					<!-- event date -->
					<div class="event-date">
						<span>Join Events</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="events-single-box">
					<!-- events thumb -->
					<div class="events-thumb">
						<img src="assets/images/resource/events-5.jpg" alt="">
						<!-- thumb button -->
						<div class="thumb-button">
							<span>10 Dec</span>
						</div>
					</div>
					<!-- events content -->
					<div class="events-content">
						<!-- event title -->
						<div class="event-title">
							<h3> <a href="event-details.html">Blood Donation for Street’s Childreen</a> </h3>
						</div>
						<!-- event desc -->
						<div class="event-discription">
							<p>Completely create leveraged best practices and B2B interfaces events productivate cutting-edge solutions with go forward supply chains has supply.</p>
						</div>
						<!-- event text -->
						<div class="event-text">
							<p> <i class="bi bi-clock"></i> December 10 @ 12.00 PM </p>
							<p> <i class="bi bi-geo-alt-fill"></i> 102/B New Road, Sandigo, USA </p>
						</div>
					</div>
					<!-- event date -->
					<div class="event-date">
						<span>Join Events</span>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="pagination-list text-center pt-4">
					<ul> <li><a href="#" class="#">1</a></li></ul>
					<ul> <li><a href="#" class="#">2</a></li></ul>
					<ul> <li><a href="#" class="active">3</a></li></ul>
					<ul> <li><a href="#" class="#"><i class="fas fa-angle-right"></i></a></li></ul>
				</div>
			</div>
		</div>
	</div>
</div>


<div th:insert="~{commons/fragments :: footer}"></div>
<div th:insert="~{commons/fragments :: scripts}"></div>
</body>
</html>