<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments :: head('Donations', 'none')}"></head>
<body>
<div th:replace="~{commons/fragments :: page_loader}"></div>
<div th:replace="~{commons/fragments :: top_header}"></div>
<div th:replace="~{commons/fragments :: sticky_header}"></div>
<div th:replace="~{commons/fragments :: mobile_menu}"></div>
<div th:replace="~{commons/fragments :: breadcrum('Donations', 'none')}"></div>

<!--==================================================-->
<!-- Start charina donate section  -->
<!--==================================================-->
<div class="blogs-section blog-grid">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="blog-single-box2">
					<!-- donations thumb -->
					<div class="donations-thumb">
						<img src="assets/images/resource/blog-1.jpg" alt="">
						<!-- blog top button -->
						<div class="meta-blog upper">
							<span> Charity </span>
						</div>
					</div>
					<div class="blogs-content">
						<!-- blog title -->
						<div class="blog-title2">
							<h3><a href="blog-details.html">Organic Fods Reserved for Childreen</a></h3>
						</div>
						<!-- blog text -->
						<div class="blog-text2">
							<p> <span class="icon-thumb"><img src="assets/images/resource/men2.jpg" alt=""></span> John Alexon <span class="blog-rt"><i class="bi bi-calendar2-check"></i>Dec 10, 2023</span> <span class="blog-rt"> <i class="bi bi-wechat"></i> 02 Comments</span></p>
						</div>
						<!-- blog description -->
						<div class="blog-description2">
							<p>Completely create leveraged best practices and B2B interfaces events productivate it’s a cutting-edge solutions with go forward supply chains has depended.</p>
						</div>
						<div class="blog-button2">
							<a href="blog-details.html">Continue Reading <i class="bi bi-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- single blog box -->
				<div class="blog-single-box2">
					<!-- donations thumb -->
					<div class="donations-thumb">
						<img src="assets/images/resource/blog-5.jpg" alt="">
						<!-- blog top button -->
						<div class="meta-blog upper">
							<span> Charity </span>
						</div>
					</div>
					<div class="blogs-content">
						<!-- blog title -->
						<div class="blog-title2">
							<h3><a href="blog-details.html">Help for Kids Education Donate Money</a></h3>
						</div>
						<!-- blog text -->
						<div class="blog-text2">
							<p> <span class="icon-thumb"><img src="assets/images/resource/men2.jpg" alt=""></span> John Alexon <span class="blog-rt"><i class="bi bi-calendar2-check"></i>Dec 10, 2023</span> <span class="blog-rt"> <i class="bi bi-wechat"></i> 02 Comments</span></p>
						</div>
						<!-- blog description -->
						<div class="blog-description2">
							<p>Completely create leveraged best practices and B2B interfaces events productivate it’s a cutting-edge solutions with go forward supply chains has depended.</p>
						</div>
						<div class="blog-button2">
							<a href="blog-details.html">Continue Reading <i class="bi bi-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="blog-single-box2">
					<!-- donations thumb -->
					<div class="donations-thumb">
						<img src="assets/images/resource/blog-4.jpg" alt="">
						<!-- blog top button -->
						<div class="meta-blog upper">
							<span> Charity </span>
						</div>
					</div>
					<div class="blogs-content">
						<!-- blog title -->
						<div class="blog-title2">
							<h3><a href="blog-details.html">Organic Fods Reserved for Childreen</a></h3>
						</div>
						<!-- blog text -->
						<div class="blog-text2">
							<p> <span class="icon-thumb"><img src="assets/images/resource/men2.jpg" alt=""></span> John Alexon <span class="blog-rt"><i class="bi bi-calendar2-check"></i>Dec 10, 2023</span> <span class="blog-rt"> <i class="bi bi-wechat"></i> 02 Comments</span></p>
						</div>
						<!-- blog description -->
						<div class="blog-description2">
							<p>Completely create leveraged best practices and B2B interfaces events productivate it’s a cutting-edge solutions with go forward supply chains has depended.</p>
						</div>
						<div class="blog-button2">
							<a href="blog-details.html">Continue Reading <i class="bi bi-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="blog-single-box2">
					<!-- donations thumb -->
					<div class="donations-thumb">
						<img src="assets/images/resource/blog-3.jpg" alt="">
						<!-- blog top button -->
						<div class="meta-blog upper">
							<span> Charity </span>
						</div>
					</div>
					<div class="blogs-content">
						<!-- blog title -->
						<div class="blog-title2">
							<h3><a href="blog-details.html">Organic Fods Reserved for Childreen</a></h3>
						</div>
						<!-- blog text -->
						<div class="blog-text2">
							<p> <span class="icon-thumb"><img src="assets/images/resource/men2.jpg" alt=""></span> John Alexon <span class="blog-rt"><i class="bi bi-calendar2-check"></i>Dec 10, 2023</span> <span class="blog-rt"> <i class="bi bi-wechat"></i> 02 Comments</span></p>
						</div>
						<!-- blog description -->
						<div class="blog-description2">
							<p>Completely create leveraged best practices and B2B interfaces events productivate it’s a cutting-edge solutions with go forward supply chains has depended.</p>
						</div>
						<div class="blog-button2">
							<a href="blog-details.html">Continue Reading <i class="bi bi-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- single blog box -->
				<div class="blog-single-box2">
					<!-- donations thumb -->
					<div class="donations-thumb">
						<img src="assets/images/resource/blog-4.jpg" alt="">
						<!-- blog top button -->
						<div class="meta-blog upper">
							<span> Foods </span>
						</div>
					</div>
					<div class="blogs-content">
						<!-- blog title -->
						<div class="blog-title2">
							<h3><a href="blog-details.html"> How to Make Good Health orphan Kids </a></h3>
						</div>
						<!-- blog text -->
						<div class="blog-text2">
							<p> <span class="icon-thumb"><img src="assets/images/resource/men2.jpg" alt=""></span> John Alexon <span class="blog-rt"><i class="bi bi-calendar2-check"></i>Dec 10, 2023</span> <span class="blog-rt"> <i class="bi bi-wechat"></i> 02 Comments</span></p>
						</div>
						<!-- blog description -->
						<div class="blog-description2">
							<p>Completely create leveraged best practices and B2B interfaces events productivate it’s a cutting-edge solutions with go forward supply chains has depended.</p>
						</div>
						<div class="blog-button2">
							<a href="blog-details.html">Continue Reading <i class="bi bi-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- single blog box -->
				<div class="blog-single-box2">
					<!-- donations thumb -->
					<div class="donations-thumb">
						<img src="assets/images/resource/blog-2.jpg" alt="">
						<!-- blog top button -->
						<div class="meta-blog upper">
							<span> Education </span>
						</div>
					</div>
					<div class="blogs-content">
						<!-- blog title -->
						<div class="blog-title2">
							<h3><a href="blog-details.html"> Education helps for Street Childreen’s </a></h3>
						</div>
						<!-- blog text -->
						<div class="blog-text2">
							<p> <span class="icon-thumb"><img src="assets/images/resource/men2.jpg" alt=""></span> John Alexon <span class="blog-rt"><i class="bi bi-calendar2-check"></i>Dec 10, 2023</span> <span class="blog-rt"> <i class="bi bi-wechat"></i> 02 Comments</span></p>
						</div>
						<!-- blog description -->
						<div class="blog-description2">
							<p>Completely create leveraged best practices and B2B interfaces events productivate it’s a cutting-edge solutions with go forward supply chains has depended.</p>
						</div>
						<div class="blog-button2">
							<a href="blog-details.html">Continue Reading <i class="bi bi-chevron-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div th:insert="~{commons/fragments :: footer}"></div>
<div th:insert="~{commons/fragments :: scripts}"></div>
</body>
</html>